build/
build32/
build64/
debian/libtas/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/libtas.debhelper.log
debian/libtas.substvars
m4/
obj*
*.o
*.lo
*_moc.cpp
src/library/libtas.la
src/library/libtas32.la
src/program/libTAS
src/program/_pylibtas*
src/program/pylibtas*

aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
INSTALL
install-sh
libtool
ltmain.sh
py-compile
Makefile
Makefile.in
missing
stamp-h1
.deps
.dirstamp
.libs
